#clear {
    width: 130px;
}

.formstyle {
    width : 130px;
    height: auto;
    margin: auto;
    border: 2px solid black;
}

input {
    width           : 40px;
    background-color: brown;
    color           : gold;
}

#answerstyle {
    width: 130px
}

.center {
    text-align : center;
    font-family: Arial;
    font-size: 25px;
    font-variant: small-caps;
    padding: 5px;
    margin: 5px;
}